<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121333910662-k7qfdsslrbger28823pa2f8gspvjuc9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121333910662-k7qfdsslrbger28823pa2f8gspvjuc9h</string>
	<key>API_KEY</key>
	<string>AIzaSyDoi5fPBkgFtDC8m_xPAce1Aoq63siLXNE</string>
	<key>GCM_SENDER_ID</key>
	<string>121333910662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.rmit.brotherhood</string>
	<key>PROJECT_ID</key>
	<string>brotherdictionary</string>
	<key>STORAGE_BUCKET</key>
	<string>brotherdictionary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121333910662:ios:a3d5d23633759e7a359507</string>
</dict>
</plist>